.home-container{
    text-align: center;
    height: 640px;
    border: 1.5px solid black;
    
}
.introduce-container{
    display: flex;
    justify-content: left;
}
.img-container{
    margin: 1rem;
    border: 12px solid rgb(111, 111, 111);
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    background-image: url('https://scontent.fbkk22-8.fna.fbcdn.net/v/t39.30808-6/274430861_1164365147701221_4744571209697756969_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=xo7Qz7QiraAQ7kNvgGSfw9h&_nc_zt=23&_nc_ht=scontent.fbkk22-8.fna&_nc_gid=AvijpiE7a3Fztal8UXp6-Lu&oh=00_AYCh1zP-GvAtGzE5UQUqmPcM6QDHgytr2HKsW04DwjfeZA&oe=671E6A08');
    background-size: 100%;
    width: 200px;
    height: 200px;
}
.text-container{
    margin-top: 1rem;
    text-align: left;
}
.text{
    font-size: larger;
}
